body {
  margin: 3rem 5%;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100px;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin: 0 auto;
}

nav {
  background-color: rgb(173, 45, 45);
  color: white;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0px 5px 5px rgb(223, 223, 223);
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;
  transition: 0.3s ease-in-out;
}

li a {
  color: white;
  text-decoration: none;
}

section {
  display: flex;
}

article {
  flex: 1;
}

footer {
  display: flex;
}

footer div {
  flex: 1;
}

footer div > img {
  width: 50px;
}

.nav-menu:hover {
  transform: translateY(-5px);
}
